@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --default: #16113B;
  --white: #fff;
  --black: #000;
  --color-1: #16113B;
  --bg-4: #16113B;
  --bg-5: #d7d7d7;
  --color-2: #404a3d;
  --color-3: #666;
  --color-4: #404a3d;
  --bg-2: #404a3d;
  --bg-3: #eddd5e;
  --bg-1: #f8f7f0;
  --bg-6: #404a3d;
  --border-2: #404a3d;
  --border-3: #16113B;
  --border-4: rgba(255, 255, 255, 0.377);
  --border-1: rgba(64, 74, 61, 0.2);
  --border-5: #ddd;
  --box-shadow-1:rgb(255 250 250 / 30%);
  --dark: #000;
  --light: #fff;
  --gray-bg: #f8f8f8;
  --accent: #eddd5e;
  --gray: #d7d7d7;

}

.modal-body .form-row{
  flex-direction: column;
}
.modal-body .onfooter-form{
  width: 100%;
}
.modal-header h1{
  color: var(--default);
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
  
}
section{
  scroll-margin-top: 250px;
}
*{
    font-family: "Montserrat", sans-serif  !important;
}
#mobile_navbar.active_navbar {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

dl, ol, ul{
    margin-bottom: 0;
}
ol, ul{
    padding: 0 !important;
}
.all_sidebar {
    display: block
}

#mobile_navbar {
    transition: .3s ease-in-out
}

.mobile_list .mobile_nav_item {
    width: 100%
}
.header-container{
  max-width: 98%;
  margin: auto;
}
header{
  padding: 30px 0 !important;
}
#mobile_navbar {
    max-width: 400px;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fcfcfc;
    z-index: 999;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    padding: 20px;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%)
}

#mobile_navbar::-webkit-scrollbar {
    width: 5px
}

#mobile_navbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.3)
}

#mobile_navbar::-webkit-scrollbar-thumb {
    width: 3px;
    height: auto;
    background-color: #ddd;
    border-radius: 4px
}

#mobile_navbar .cancel_logo_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f1ebeb;
    width: 100%;
}

.cancel_logo_mobile .logo_mobile {
    margin: 0;
    width: auto;
    height: 60px
}

.cancel_logo_mobile .logo_mobile a {
    width: 100%;
    height: 100%;
    display: inline-block
}

.cancel_logo_mobile .logo_mobile a img {
    width: 100%;
    height: 100%
}

.cancel_logo_mobile .cancel_button {
    width: 25px;
    height: 25px
}

.cancel_logo_mobile .cancel_button #cancel {
    border: none;
    cursor: pointer;
    background-color: transparent
}

.cancel_logo_mobile .cancel_button svg {
    width: 100%;
    height: 100%;
    fill: #221f1f;
    opacity: .8
}

.mobile_list .mobile_nav_item .mobile_nav_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    padding: 10px 0;
    color: #000;
    border-bottom: 1px solid #f1ebeb
}

.mobile_nav_item .mobile_nav_submenu {
    padding-left: 20px;
    display: none
}

.mobile_nav_submenu li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #000;
    font-weight: 700;
    opacity: .8;
    border-bottom: 1px solid #ddd
}

.mobile_nav_item:last-child {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.mobile_getQuete {
    display: flex;
    overflow: hidden;
    padding: 1rem 2.5rem;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    background: 0 0;
    color: #fff;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center
}

.mobile_getQuete:hover {
    cursor: pointer
}

.mobile_getQuete>span {
    position: relative;
    z-index: 3
}

.mobile_getQuete::after,.mobile_getQuete::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    opacity: 0;
    opacity: 1
}

.mobile_getQuete::before {
    background: repeating-linear-gradient(50deg,transparent,transparent 10px,#1d1d1d56 10px,#575555 20px) #1d1d1d;
    animation: .6s linear infinite loading_49100
}

.mobile_getQuete::after {
    z-index: 2;
    background: linear-gradient(#1d1d1d 30%,transparent 100%)
}

@keyframes loading_49100 {
    0% {
        translate: 25px 0
    }

    100% {
        translate: -30px 0
    }
}

.overlay-mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: 40;
    inset: 0;
    display: none
}

@media (min-width: 576px) and (max-width:992px) {
    .mobile_nav_item:last-child {
        justify-content:flex-start
    }
}

:is(.pfp-swiper-image,.pfp-thumb-image) {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center
}

:is( .contact-conp-form-input:focus,.contact-conp-form-input:autofill,.contact-conp-form-input:-webkit-autofill )~.contact-conp-form-label {
    top: -.9rem;
    font-size: .813rem;
    color: #000;
    padding-inline:0.3rem;transition: .3s
}

#advantages .advantageCarousel::-webkit-scrollbar:horizontal {
    height: 8px
}

#advantages .advantageCarousel::-webkit-scrollbar-thumb:window-inactive {
    background: #1ca8f3
}

.check_desc ul li::marker {
    content: "\2713"
}

@media (max-width: 576px) {
    .num-nav a {
        font-size:12px !important;
    }

    .subsub {
        font-size: 10px
    }
}

.subsub {
    color: #fff;
}

.is-sticky .subsub {
    color: #000 !important;
    font-size: 15px;
}

.hamburger-btn svg,.navbar_item svg {
    fill: var(--white)
}

.navbar-dropdown {
    opacity: 0;
    visibility: hidden
}

.myHeader {
    position: absolute;
    width: 100%;
    background: 0 0;
    padding: 10px 0;
    z-index: 30
}

.myHeader.is-sticky {
    backdrop-filter: blur(10px);
    background: var(--white);
    animation: .55s ease-in-out slideDown;
    box-shadow: 0 5px 16px var(--box-shadow-1);
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px #dbdbe2
}
/* .logo{
  min-width: 120px;
  width: 100%;
  height: auto;
  object-fit: cover;
} */
/* .logo img{
  min-width: 180px;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.myHeader.is-sticky .num-nav a,.myHeader.is-sticky .soc-nav a {
    color: #000!important
}

.soc-nav a {
    font-size: 15px
}

.myHeader.is-sticky .nav-center li a,.myHeader.is-sticky .nav-center li span {
    color: var(--color-1)
}

.callAction,.logocolor,.myHeader.myHeader.is-sticky .logowhite {
    display: none
}

.hamburger,.myHeader.myHeader.is-sticky .logocolor {
    display: block
}

.myHeader.myHeader.is-sticky .hamburger-btn svg,.myHeader.myHeader.is-sticky .navbar_item svg {
    fill: var(--color-1)
}

.myHeader.myHeader.is-sticky .callAction button {
    background-color: var(--default);
    color: var(--white)
}
@media(max-width: 1424px){
  .myHeader.myHeader.is-sticky .callAction button{
    display: none;
  }
}
.nav-left {
    display: flex;
    gap: 20px;
    align-items: center
}
@media (max-width: 1200px){
  /* .nav-left{
    display: none;
  } */
   .soc-nav, .num-nav{
    display: none;
   }
   nav{
    gap: 0 !important;
   }
}


.logowhite {
    display: block;
    filter: brightness(1000000)
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    width: 100%;
    height: 100%;
    display: block
}

.logo img {
  min-width: 150px;
    max-width: 200px;
    height: 52px;
    width: 100%;
    object-fit:cover
}

.nav-center {
    display: none;
    justify-content: center;
    align-items: center
}

.navbar_item {
    position: relative;
    cursor: pointer
}

.navbar_item svg {
    transition: .3s ease-in;
    margin-left: 5px
}

.navbar_item:hover svg {
    transform: rotate(180deg);
    transition: .3s ease-out
}

.navbar_item:hover .navbar-dropdown {
    max-height: 200px;
    opacity: 1;
    border-color: var(--bg-3);
    transform: translateY(0);
    visibility: visible;
    box-shadow: 0 1px 1px rgba(0,0,0,.15),0 2px 2px rgba(0,0,0,.15),0 4px 4px rgba(0,0,0,.15),0 8px 8px rgba(0,0,0,.15);
    overflow: visible
}
.nav-center li span {
    display: flex;
    width: fit-content;
    font-size: 15px;
    color: var(--white);
    font-weight: 500;
    white-space: nowrap;
    height: 100%;
    align-items: center
}

.nav-center li,.nav-center li a {
    align-items: center;
    display: flex
}

.nav-center li a {
    width: 100%;
    color: var(--white);
    height: 100%;
    font-size: 14px
}

.navbar-dropdown {
    margin-top: 40px;
    top: 0;
    overflow: hidden;
    transition: .5s;
    max-height: 0;
    position: absolute;
    border-top: 2px solid;
    padding: 10px;
    left: 0;
    border-radius: 4px;
    background-color: var(--white)
}

.nav-right {
    position: relative
}

.navbar-dropdown li {
    padding: 5px 10px!important;
    transition: .3s ease-in;
    border-radius: 10px;
    background: 0 0
}

.navbar-dropdown li a>span {
    color: var(--color-2)!important
}

.navbar-dropdown li:hover {
    background: #ddd
}

.nav-center li {
    line-height: 30px;
    padding: 0 5px
}

.nav-center li:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: transparent;
    margin-right: 5px;
    border-radius: 50%
}

.nav-center li a span {
    font-size: 14px !important;
    font-weight: 500
}

.nav-right {
    display: flex;
    gap: 10px;
    align-items: center
}

.callAction button::before {
    content: "";
    background-color: var(--default);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .7s ease-in-out;
    display: inline-block
}

.callAction button:hover::before {
    width: 100%
}

.callAction button:hover {
    color: #fff;
}

.hamburger-btn {
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer
}

.callAction button {
    position: relative;
    background-color: var(--white);
    border-radius: 5px;
    background-repeat: no-repeat;
    padding: 10px 15px;
    color: var(--default);
    border: none;
    font-size: 15px;
    transition: .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    cursor: pointer
}

@media screen and (min-width: 992px) {

    .nav-center {
        display: flex
    }

    .callAction,.nav-right:after {
        display: block
    }

    .logo img {
        max-width: 150px

    }
}

@media screen and (min-width: 1200px) {

    .nav-center li a span {
        font-size: 15px
    }

    .hamburger {
        display: none
    }
}
@media (max-width: 768px){
  .soc-nav , .num-nav{
    display: none;
  }
}
:is(.pfp-swiper-image,.pfp-thumb-image) {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center
}

:is( .contact-conp-form-input:focus,.contact-conp-form-input:autofill,.contact-conp-form-input:-webkit-autofill )~.contact-conp-form-label {
    top: -.9rem;
    font-size: .813rem;
    color: #000;
    padding-inline:0.3rem;transition: .3s
}

#advantages .advantageCarousel::-webkit-scrollbar:horizontal {
    height: 8px
}

#advantages .advantageCarousel::-webkit-scrollbar-thumb:window-inactive {
    background: #1ca8f3
}

.check_desc ul li::marker {
    content: "\2713"
}
nav a{
    text-decoration: none;
}

:root {
      --main-color: #7a3b30;
      --accent: #b2452f;
      --white: #fff;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Montserrat", sans-serif;
      background: #fff;
      overflow-x: hidden;
    }

    /* ================= HEADER ================= */
    header {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
      background: rgba(52, 29, 26, 0.85);
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18px 70px;
    }
    .header-container{
  width: 100%;
  padding: 0 10px;
}

    .logo img {
      height: 48px;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    nav a {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.05em;
      transition: color 0.3s ease;
    }

    nav a:hover {
      color: var(--accent);
    }

    .lang {
      display: flex;
      gap: 15px;
      align-items: center;
      font-weight: 600;
    }

    .lang a {
      color: #fff;
      text-decoration: none;
      opacity: 0.8;
      font-size: 14px;
    }

    .lang a:hover {
      opacity: 1;
      color: var(--accent);
    }

    .nav-btn {
      background: var(--accent);
      color: #fff;
      padding: 13px 25px;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .nav-btn:hover {
      background: #fff;
      color: var(--accent);
    }

    /* ================= SLIDER ================= */
    #hero {
      position: relative;
      width: 100%;
    }

    #hero .item {
      height: 100vh;
      background-position: center;
      background-size: cover;
      position: relative;
    }

    #hero .overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 70%);
      z-index: 1;
    }

    .hero-caption {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 5;
      padding-left: 80px;
      max-width: 700px;
    }

    .hero-caption h1 {
      font-size: 68px;
      font-weight: 700;
      line-height: 1.1;
      color: #fff;
      margin-bottom: 25px;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    }

    .hero-caption p {
      font-size: 20px;
      color: #f0f0f0;
      margin-bottom: 45px;
      line-height: 1.6;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    .btns { display: flex; gap: 15px; }

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.03em;
      padding: 25px 40px;
      border: 1.5px solid #fff;
      transition: all 0.5s ease;
    }

    .btn:hover{
        border-radius: 8px
    }
    .btn svg {
      width: 14px;
      height: 14px;
      transition: transform 0.3s ease;
    }

    .btn:hover svg { transform: translateX(4px); }

    .btn-white {
      background: #fff;
      color: var(--dark);
      border: none;
    }

    .btn-white:hover {
      background: #e9e9e9;
      color: var(--dark);
    }

    .btn-outline {
      background: transparent;
      color: #fff;
      border: 1.5px solid #fff;
      backdrop-filter: blur(20px);
      
    }

    .btn-outline:hover {
      background: #fff;
      color: var(--dark);
    }

    /* ========== OWL NAVIGATION ========== */
    #hero .owl-nav {
      position: absolute;
      bottom: 12%;
      right: 60px;
      z-index: 10;
    }

    #hero .owl-nav button {
      width: 80px !important;
      height: 80px !important;
      background: rgba(255, 255, 255, 0.9) !important;
      border-radius: 50% !important;
      margin-left: 12px;
      color: var(--default) !important;
      font-size: 40px !important;
      transition: all 0.3s ease;
      backdrop-filter: blur(5px);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    #hero .owl-nav button:hover {
      background: var(--default) !important;
      color: #fff !important;
    }

    /* ========== FADE (foggy) animation ========== */
     #hero .owl-item {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }
     #hero .owl-item.active {
      opacity: 1;
    }

    /* ========== RESPONSIVE ========== */
    @media (max-width: 992px) {
      header {
        padding: 18px 30px;
        flex-wrap: wrap;
      }

      header nav {
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
      }

      .hero-caption {
        padding: 0 30px;
      }

      .hero-caption h1 {
        font-size: 42px;
      }

      .hero-caption p {
        font-size: 18px;
      }
    }

    @media (max-width: 768px) {
      .hero-caption h1 {
        font-size: 34px;
      }

      .btns {
        flex-direction: column;
        align-items: flex-start;
      }

      #hero .owl-nav {
        right: 25px;
      }
      .hero-caption p{
        margin-bottom: 25px !important;
      }
      header nav, .nav-wrapper{
        justify-content: space-between !important;
      }
      .logo img{
        width: 120px !important;
        min-width: 120px !important;
      }
      header{
        padding: 20px 0 !important;
      }
      .btn{
        font-size: 12px;
    letter-spacing: 0.03em;
    padding: 15px 20px;
      }
      .hero-caption p{
        font-size: 16px;
      }
      #hero .owl-nav button{
        height: 65px !important;
        width: 65px !important;
      }
      .about-left p{
        font-size: 14px;
      }
      .application-section{
        padding: 40px 0 !important;
      }
      .about-section{
        padding: 40px 0 !important;
      }
    }
    

    #hero{
      margin-bottom: 60px;
    }
    

    :root {
      --accent: #e44a1b;
      --dark: #121212;
      --text: #fff;
    }

    * { margin: 0; padding: 0; box-sizing: border-box; }

    body {
      font-family: "Montserrat", sans-serif;
      background: #fff;
      color: var(--dark);
    }

    section.services {
      overflow: hidden;
      margin-bottom: 60px;
    }

    .services .title {
      padding: 0 20px;
      margin-bottom: 20px;
      display:flex;
      justify-content: space-between;
      align-items: flex-end
    }
    .services h2{
      text-align: center;
      color: var(--default);
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .swiper-button-prev, .swiper-button-next{
        margin-left: 15px !important;
    }

    .services .title span {
      color: var(--accent);
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: block;
      margin-bottom: 10px;
      font-size: 22px;
    }

    .services .title h2 {
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.2;
      margin-bottom: 0;
      text-align: left;
    }


    .swiper{
        position: relative;
    }
    .swiper-slide {
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      cursor: pointer;
      transition: transform 0.4s ease, box-shadow 0.3s ease;
      height: 450px;
      margin-right: 10px !important;
    }

    .swiper-slide:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.6s ease;
    }

    .swiper-slide:hover img {
      transform: scale(1.1);
    }

    .slide-overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.45);
      transition: background 0.3s ease;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
    }

    .swiper-slide:hover .slide-overlay {
      background: rgba(0, 0, 0, 0.7);
    }

    .slide-content {
      color: #fff;
      z-index: 2;
      transition: all 0.4s ease;
      background-color: var(--default);
      padding-top:20px ;
      text-align: left;
      padding-left: 40px;
    }

    .slide-content h3 {
      font-size: 22px;
      font-weight: 700;
      transition: .3s ease;
      margin-bottom: 10px;
    }

    .slide-content p {
      font-size: 18px;
    line-height: 1.2;
      opacity: 0;
      max-height: 0;
      transition: all 0.4s ease;
    }

    .swiper-slide:hover .slide-content p {
      opacity: 1;
      max-height: 120px;
    }

    @media (max-width:768px){
      .slide-content{
        padding-left: 20px;
      }
      .slide-content p{
            font-size: 15px;
    width: 90%;
      }
      .slide-btn{
        width: fit-content !important;
      }
      h2{
        font-size: 28px !important;
      }
    }

    /* Button (arrow only) */
    .slide-btn {
          display: inline-flex
;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 55px;
    border-radius: 1em 0 0 1em;
    margin-bottom: 20px;
    /* border-radius: 50%; */
    border: 1.5px solid #fff;
    color: #fff;
    margin-top: 18px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
        text-decoration: none;
    text-transform: none;
    font-family: 'akgf4cmkecl0a40iimnn5e5x5d7ytoh4', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    font-weight: normal;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    border-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: #ffffff;
    width: 260px;
    height: 40px;
    padding: 0 25px !important;
    -moz-transition: font-family .5s, font-size .5s, color .5s, background-color .5s, border-color .5s, border-width .5s;
    -webkit-transition: font-family .5s, font-size .5s, color .5s, background-color .5s, border-color .5s, border-width .5s;
    transition: all 0.45s ease;
    }


.slide-btn svg {
  transition: transform 0.4s ease;
}

.slide-btn:hover svg {
  transform: translateX(8px);
}

    .swiper-slide:hover .slide-btn {
      opacity: 1;
      transform: translateY(0);
    }


    .slide-btn svg {
      width: 20px;
      height: 20px;
      stroke-width: 2;
    }

      .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      background: #2b2b2b;
      color: #fff;
      width: 45px;
      height: 45px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
      background: var(--default);
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 18px;
      font-weight: 700;
    }
  

    /* Move buttons to top right */
    .swiper-nav-top {
      display: flex;
      gap: 10px;
    }

    [data-se-skew="6"] {
    transform: skew(-6deg, 0) !important;
}

    @media (max-width: 768px) {
      .swiper-slide { height: 320px; }
      .services .title h2 { font-size: 28px; }
    }


:root {
  --accent: #e44a1b;
  --dark: #101010;
  --text: #111;
  --bg-light: #f5f6f7;
  --btn-bg: #101826;
}

.about-section {
  position: relative;
  background: #f2f3f5;
  padding: 40px 0;
  text-align: center;
}

/* the angled white cut at bottom right */
.about-section::after {
    content: "";
    position: absolute;
    height: 119px;
    right: 0%;
    bottom:-5%;
    width: 28%;
    height: 94px;
    background: #fff;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
}
.about-section::before {
  content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 28%;
    height: 94px;
    background: #fff;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
    z-index: 1;
}

/* keep your about-right image above background shape */
.about-right {
  background: url(../img/slider3.webp) center/cover no-repeat;
  position: absolute;
  width: 48%;
  height: 72%;
  right: 1%;
  top: 100px;
  z-index: 2;
  border-top-left-radius: 94px;
}

/* make sure text stays above the background */
.about-left {
  position: relative;
  width: 50%;
  z-index: 3;
  text-align: left;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 80px 0;
  margin-bottom: 30px;
}



.about-subtitle {
  color: var(--default);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 10px;
}

.about-left h2 {
  font-size: 34px;
  color: var(--dark);
  font-weight: 800;
  margin-bottom: 10px;
}

.about-lead {
  font-weight: 600;
  margin-bottom: 5px;
}

/* .about-left p {
  line-height: 1.2;
  color: #333;
  margin-bottom: 10px;
  width: 90%;
} */
.about-left p {
  line-height: 18px;
  color: #2b2b2b;
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  text-align: justify;
}.highlight {
  font-weight: 700;
  color: var(--darkblue);
}

.about-list {
  list-style: disc;
  margin: 15px 0 10px 0;
  list-style-image: url(https://galvanika-udm.ru/images/styles/9vkxb1fyjq6tp0u978r2.svg);
}

.about-list li {
  position: relative;
  color: #222;
  font-size: 15px;
  padding-left: 5px;
}
.about-list li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: auto !important;
}
/* .about-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--accent);
  font-weight: bold;
} */

.about-btn {
  display: inline-block;
  background: var(--btn-bg);
  color: #fff;
  padding: 12px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.about-btn:hover {
  background: #16113ba3;
  transform: translateY(-2px);
}


@media (max-width: 992px) {
  .about-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding: 25px 0;
  }

  .about-left {
    width: 100%;
    text-align: center;
    order: 2;
  }

  .about-left p {
    width: 95%;
    margin: 0 auto 16px;
    text-align: justify;
  }

  .about-right {
    background: url(../img/slider3.webp) center/cover no-repeat;
    position: relative;
    width: 100%;
    height: 350px;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-radius: 20px;
    order: 1;
  }

  .about-subtitle {
    font-size: 32px;
  }

  .highlight {
    color: var(--default);
  }
}
@media (max-width:768px){
  .about-section::before{
    width: 0%;
  }
}

.application-section {
  position: relative;
  background: #f2f3f5;
  padding: 80px 0;
  overflow: hidden;
  text-align: center;
  margin-bottom: 60px;
}
.application-section::after{
  content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 28%;
    height: 50px;
    background: #fff;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
    z-index: 1;
}
.section-header{
  text-align: left;
}

.application-section .subtitle {
  color: var(--default);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  display: block;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.section-header h2 {
  font-size: 36px;
  color: var(--text-dark);
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  color: #333;
  font-size: 16px;
  margin-bottom: 50px;
}
.icons-grid {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto; 
}
@media (max-width:768px){
  .icons-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}
.icon-item {
  flex: 1;
  min-width: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* hex style */
.hex{
  width: 90px;
  height: 100px;
  transition: all .4s ease;
}
.hex img {
  width: 100%;
  height: auto;
}

.icon-item p {
  margin-top: 18px;
  font-weight: 600;
  color: #111;
  font-size: 15px;
  line-height: 1.3;
  max-width: 150px;
}

.hex:hover {
  transform: translateY(-4px);
}

/* responsive layout */
@media (max-width: 992px) {
  .icons-grid {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .icon-item {
    flex: 0 0 30%;
  }
  .section-header h2{
    font-size: 32px;
  }
}

/* @media (max-width: 600px) {
  .icon-item {
    flex: 0 0 45%;
  }
  .hex {
    width: 90px;
    height: 100px;
  }
  .hex img {
    width: 35px;
    height: 35px;
  }
} */


/* .icons-grid {
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 40px;
}

.icon-item {
  width: 14%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.hex{
  width: 90px;
  height: 100px;
}
.hex img {
  width: 100%;
  height: auto;
}

.icon-item p {
  margin-top: 20px;
  font-weight: 600;
  color: #111;
  font-size: 15px;
  line-height: 1.3;
}

.hex:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .icons-grid {
    gap: 25px;
  }
  .icon-item {
    width: 100px;
  }
  .hex {
    width: 80px;
    height: 80px;
  }
  .hex img {
    width: 35px;
    height: 35px;
  }
} */

    .coatings {
    padding: 40px 0 60px 0;
    margin-bottom: 60px;
    }


.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.coatings .section-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--default);
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.coatings-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.coating-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.coating-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.coating-card:hover img {
  transform: scale(1.08);
}

.coating-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.254);
  color: var(--light);
  transition: background 0.4s ease;
  overflow: hidden;
}

.coating-card:hover .coating-overlay {
  background: rgba(0, 0, 0, 0.649);
}

.coating-overlay h3{
    opacity: 1;
    transform: translateY(170%);
    transition: all 0.5s ease;
}
.coating-overlay p {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.5s ease;
}

.coating-overlay h3 {
  display: inline-block;
  background: var(--dark);
  padding: 8px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
  width: fit-content;
  border-radius: 3px;
}


.coating-overlay p {
  font-size: 14px;
  line-height: 1.4;
  color: #f0f0f0;
  max-width: 90%;
}

.coating-card:hover .coating-overlay h3 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
}

.coating-card:hover .coating-overlay p {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.25s;
}

/* Responsive */
@media (max-width: 992px) {
  .coatings-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-title h2 {
    font-size: 30px;
  }
  .coatings .section-title h2{
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .coatings-grid {
    grid-template-columns: 1fr;
  }
  .section-title h2 {
    font-size: 26px;
  }
  .coatings{
    padding: 40px 10px 60px 10px;
  }
  .coating-card{
    min-height: 360px;
  }
}

.pricing {
  background: var(--default);
  color: var(--white);
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  /* margin-bottom: 60px; */
}







.pricing-title {
  text-align: center;
  margin-bottom: 40px;
}

.pricing-title h2 {
  font-size: 36px;
  font-weight: 800;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  letter-spacing: 0.03em;
}



.pricing-table-wrapper {
  overflow-x: auto;
}

.pricing-table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.pricing-table th,
.pricing-table td {
  padding: 18px 22px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
}

.pricing-table th {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.pricing-table td {
  color: var(--gray);
  font-weight: 500;
}

.pricing-table tr:last-child td {
  border-bottom: none;
}

.pricing-table tr:hover td {
  background: rgba(255, 255, 255, 0.208);
  color: var(--white);
  transition: all 0.3s ease;
}
/* Base theme */
:root {
  --default: #16113B;
  --main-color: #127b92;
  --accent: #f39032;
  --text-light: rgba(255,255,255,0.85);
}

/* Notes container */
.pricing-notes {
  margin-top: 40px;
  font-size: 17px;
  line-height: 1.8;
  color: var(--text-light);
 
}

/* Table-like block for notes */
.pricing-table-notes {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
   margin-bottom: 10px;
}

.pricing-table-notes p {
  margin: 0;
  padding: 18px 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  color: var(--text-light);
}

.pricing-table-notes p:last-child {
  border-bottom: none;
}

.pricing-table-notes strong {
  color: #fff;
  font-weight: 600;
}

/* The last orange note below */
.extra-chip {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(135deg, var(--accent), #b85a12);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05);
  transition: all 0.3s ease;
}

.extra-chip:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(243, 144, 50, 0.35);
}

/* spacing */
.pricing-notes p + p {
  margin-top: 10px;
}

/* Responsive typography */
@media (max-width: 576px) {
  .pricing-notes {
    font-size: 15px;
  }
}



/* .pricing-notes {
  margin-top: 40px;
  font-size: 17px;
  line-height: 1.8;
  color: var(--gray);
} */


/* .pricing-notes strong {
  color:#fff;
  font-weight: 600;
}

.pricing-notes p + p {
  margin-top: 10px;
} */

.pricing-table th,
.pricing-table td {
  transition: all 0.3s ease;
}

.pricing-table th:first-child,
.pricing-table td:first-child {
  text-align: center;
}

@media (max-width: 992px) {
  .section-title h2 {
    font-size: 32px;
  }

  .pricing-table th,
  .pricing-table td {
    font-size: 14px;
    padding: 14px 16px;
  }
  
}

@media (max-width: 576px) {
  .pricing {
    padding: 70px 10px;
  }

  .section-title h2 {
    font-size: 32px;
  }

  .pricing-notes {
    font-size: 15px;
  }
}



.onfooter-premium {
  background: var(--default);
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}


.onfooter-box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: rgba(255,255,255,0.96);
  border-radius: 24px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.2);
  padding: 60px;
  gap: 50px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.onfooter-left {
  flex: 1;
  min-width: 280px;
}

.onfooter-logo {
  width: 170px;
  margin-bottom: 25px;
}

.onfooter-left h2 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #1f2b5b;
}

.onfooter-left p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  max-width: 400px;
}

.onfooter-form {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.onfooter-form input,
.onfooter-form textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 15px;
  color: #222;
  padding: 14px 16px;
  transition: 0.3s ease;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); /* soft gray box-shadow */
}

.onfooter-form input:focus,
.onfooter-form textarea:focus {
  border-color: #bbb;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12); /* stronger on focus */
  outline: none;
}

.form-row {
  display: flex;
  gap: 18px;
}
.file-label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  transition: 0.3s;
}

.file-label input[type="file"] {
  display: none;
}

/* --- ikon default --- */
.file-icon {
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2037_52214)'%3E%3Cpath d='M20.4853 3.51469C18.2188 1.24823 15.2054 0 12 0C8.79469 0 5.78123 1.24823 3.51469 3.51469C1.24823 5.78119 0 8.79464 0 12C0 15.2054 1.24823 18.2188 3.51469 20.4853C5.78123 22.7518 8.79469 24 12 24C15.2054 24 18.2188 22.7518 20.4853 20.4853C22.7518 18.2189 24 15.2054 24 12C24 8.79464 22.7518 5.78119 20.4853 3.51469ZM19.0168 13.3418L13.6915 18.6671C12.6736 19.685 11.3362 20.1941 9.99909 20.1941C8.6617 20.1941 7.32478 19.6852 6.3067 18.6671C5.32036 17.6808 4.77722 16.3695 4.77722 14.9746C4.77722 13.5798 5.32041 12.2685 6.3067 11.2822L12.6972 4.89183C13.399 4.19002 14.3321 3.80353 15.3245 3.80353C16.317 3.80353 17.25 4.19002 17.9519 4.89183C18.6537 5.59359 19.0402 6.52669 19.0402 7.51917C19.0402 8.51166 18.6537 9.44475 17.9519 10.1465L11.5613 16.5368C11.144 16.9541 10.5892 17.184 9.99909 17.184C9.40898 17.184 8.85417 16.9542 8.43689 16.5368C8.01961 16.1197 7.78978 15.5648 7.78978 14.9747C7.78978 14.3845 8.01961 13.8297 8.43689 13.4124L13.7621 8.08711C14.0367 7.81256 14.4819 7.81256 14.7565 8.08711C15.0311 8.36166 15.031 8.80688 14.7565 9.08147L9.43125 14.4068C9.35644 14.4812 9.29712 14.5697 9.25674 14.6672C9.21636 14.7647 9.19571 14.8692 9.19598 14.9747C9.19598 15.1891 9.27952 15.3908 9.4312 15.5424C9.58294 15.6942 9.78459 15.7778 9.99909 15.7778C10.2136 15.7778 10.4152 15.6942 10.5669 15.5425L16.9575 9.15211C17.3937 8.71589 17.6339 8.13595 17.6339 7.51912C17.6339 6.9023 17.3937 6.32236 16.9575 5.88614C16.057 4.98572 14.592 4.98572 13.6915 5.88614L7.30102 12.2765C6.58031 12.9972 6.18342 13.9554 6.18342 14.9746C6.18342 15.9939 6.58031 16.9521 7.30102 17.6728C8.78873 19.1604 11.2095 19.1604 12.6972 17.6728L18.0224 12.3475C18.297 12.073 18.7422 12.073 19.0168 12.3475C19.2914 12.6221 19.2914 13.0673 19.0168 13.3418Z' fill='white' fill-opacity='0.3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2037_52214'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  background-color: #333;
  transition: 0.3s;
}

/* --- yazı --- */
.file-text strong {
  color: #aaa;
  font-weight: 700;
  font-size: 15px;
}
.file-text span {
  color: #777;
  font-size: 13px;
  display: block;
  line-height: 1.2;
}

/* --- hover effekti (qırmızı + ağ text) --- */
.file-label:hover .file-icon {
  background-color: var(--default);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2037_52214)'%3E%3Cpath d='M20.4853 3.51469C18.2188 1.24823 15.2054 0 12 0C8.79469 0 5.78123 1.24823 3.51469 3.51469C1.24823 5.78119 0 8.79464 0 12C0 15.2054 1.24823 18.2188 3.51469 20.4853C5.78123 22.7518 8.79469 24 12 24C15.2054 24 18.2188 22.7518 20.4853 20.4853C22.7518 18.2189 24 15.2054 24 12C24 8.79464 22.7518 5.78119 20.4853 3.51469ZM19.0168 13.3418L13.6915 18.6671C12.6736 19.685 11.3362 20.1941 9.99909 20.1941C8.6617 20.1941 7.32478 19.6852 6.3067 18.6671C5.32036 17.6808 4.77722 16.3695 4.77722 14.9746C4.77722 13.5798 5.32041 12.2685 6.3067 11.2822L12.6972 4.89183C13.399 4.19002 14.3321 3.80353 15.3245 3.80353C16.317 3.80353 17.25 4.19002 17.9519 4.89183C18.6537 5.59359 19.0402 6.52669 19.0402 7.51917C19.0402 8.51166 18.6537 9.44475 17.9519 10.1465L11.5613 16.5368C11.144 16.9541 10.5892 17.184 9.99909 17.184C9.40898 17.184 8.85417 16.9542 8.43689 16.5368C8.01961 16.1197 7.78978 15.5648 7.78978 14.9747C7.78978 14.3845 8.01961 13.8297 8.43689 13.4124L13.7621 8.08711C14.0367 7.81256 14.4819 7.81256 14.7565 8.08711C15.0311 8.36166 15.031 8.80688 14.7565 9.08147L9.43125 14.4068C9.35644 14.4812 9.29712 14.5697 9.25674 14.6672C9.21636 14.7647 9.19571 14.8692 9.19598 14.9747C9.19598 15.1891 9.27952 15.3908 9.4312 15.5424C9.58294 15.6942 9.78459 15.7778 9.99909 15.7778C10.2136 15.7778 10.4152 15.6942 10.5669 15.5425L16.9575 9.15211C17.3937 8.71589 17.6339 8.13595 17.6339 7.51912C17.6339 6.9023 17.3937 6.32236 16.9575 5.88614C16.057 4.98572 14.592 4.98572 13.6915 5.88614L7.30102 12.2765C6.58031 12.9972 6.18342 13.9554 6.18342 14.9746C6.18342 15.9939 6.58031 16.9521 7.30102 17.6728C8.78873 19.1604 11.2095 19.1604 12.6972 17.6728L18.0224 12.3475C18.297 12.073 18.7422 12.073 19.0168 12.3475C19.2914 12.6221 19.2914 13.0673 19.0168 13.3418Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2037_52214'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.file-label:hover .file-text strong {
  color: var(--default);
}

.file-label:hover .file-text span {
  color: var(--default);
}

.onfooter-btn {
  align-self: flex-end;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--default);
  color: #fff;
  font-weight: 600;
  border-radius: 40px;
  padding: 14px 34px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 8px 25px rgba(18,123,146,0.25);
}

.onfooter-btn:hover {
  transform: translateY(-3px);
}

.onfooter-btn svg {
  transition: transform 0.3s ease;
}

.onfooter-btn:hover svg {
  transform: translateX(5px);
}

@media (max-width: 992px) {
  .onfooter-box {
    flex-direction: column;
    padding: 40px 10px;
    text-align: center;
    align-items:center
  }
  .onfooter-form{
    width: 90%;
  }
  .form-row {
    flex-direction: column;
  }
  .onfooter-btn {
    align-self: center;
  }
  .onfooter-left h2 {
    font-size: 24px;
  }
}
@media (max-width: 768px){
  .onfooter-premium{
    padding: 90px 10px;
  }
}

.footer-head .row,.footer-right .row,.row {
    row-gap: 20px
}

.footer-right-links li a:hover {
    color: var(--default)
}

.footer-left-content {
    margin-top: 20px
}

.footer-left-content ul li:not(:first-child) {
    margin-left: 10px
}

.footer {
    background: right bottom/contain no-repeat #f6f7f8
}

.footer-social-list a:hover svg {
    filter: invert(1)!important
}

.footer-head {
    padding: 20px 0
}

.footer-logo a {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: center;
    width: fit-content;
    height: fit-content
}

.footer-left-content ul,.footer-left-content ul li a {
    align-items: center;
    display: flex
}

.footer-logo a img {
    width: 150px;
    height: auto
}

.footer-left-content p {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.2;
    color: var(--color-2)
}

.footer-left-content ul li::before {
    content: unset
}

.footer-left-content ul li {
    width: 2.5rem;
    background: var(--bg-1);
    height: 2.5rem;
    border-radius: 50%;
    color: var(--color-1);
    border: 1px solid var(--default);
    transition: .3s ease-in-out
}

.footer-left-content ul li a {
    width: 100%;
    height: 100%;
    color: currentColor;
    justify-content: center
}

.footer-left-content ul li:hover {
    background: var(--color-1);
    color: var(--white)
}

.footer-right-content h4 {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    color: var(--color-2);
    margin-bottom: 12px
}

.footer-right-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px
}

.footer-right-links li a,.footer-right-links li p {
    color: var(--color-3);
    line-height: 1.2;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: .875rem;
    transition: .3s ease-in
}

.footer-right-links li a span,.footer-right-links li p span {
    width: calc(100% - 21px)
}

.footer-right-links li a svg,.footer-right-links li p svg {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    color: var(--default)
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.footer-bottom-wrapper {
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid var(--border-1)
}

.footer-bottom-wrapper .row {
    row-gap: 20px;
    flex-wrap: wrap-reverse
}

.copyright {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--color-1)
}

.copyright a {
    margin-left: 5px;
    text-decoration: underline;
    font-size: 16px;
    color: var(--color-2);
    font-weight: 700;
    transition: .3s ease-in-out
}

.copyright a:hover {
    text-decoration: none
}

.siteby-content {
    height: auto;
    width: 150px
}

@media screen and (min-width: 768px) {

    .siteby-content {
        float: right
    }
}

@media screen and (min-width: 992px) {

    .footer-right-content h4 {
        line-height: 65px
    }
}

:is(.pfp-swiper-image,.pfp-thumb-image) {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center
}

:is( .contact-conp-form-input:focus,.contact-conp-form-input:autofill,.contact-conp-form-input:-webkit-autofill )~.contact-conp-form-label {
    top: -.9rem;
    font-size: .813rem;
    color: #000;
    padding-inline:0.3rem;transition: .3s
}

#advantages .advantageCarousel::-webkit-scrollbar:horizontal {
    height: 8px
}

#advantages .advantageCarousel::-webkit-scrollbar-thumb:window-inactive {
    background: #1ca8f3
}

.check_desc ul li::marker {
    content: "\2713"
}
.projects {
  background: #f2f3f5;
  padding: 50px 0 60px 0;
  text-align: center;
  /* margin-bottom: 50px; */
}

.projects .section-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--default);
  /* margin-bottom: 0 !important; */
}
.gallery-carousel{
  position: relative;
}
/* Images grayscale by default */
.gallery-carousel .item img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  filter: grayscale(100%) !important;
  transition: filter 0.5s ease, transform 0.5s ease;
  border-radius: 12px;
}
.gallery-carousel .item{
  border-radius: 12px !important;
}
/* Center active item in full color */
.gallery-carousel .owl-item.active.center img {
  filter: grayscale(0%) !important;
  transform: scale(1.05);
  
}


/* Navigation */
.projects .owl-nav button {
  position: absolute;
  top: 45%;
  width: 60px;
  height: 60px;
  background: #fff !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.projects .owl-carousel {
    position: relative;
}

.projects .owl-nav .owl-prev {
    position: absolute;
    top: 40%;
    left: 29%!important;
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    background-color: #fff !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
}


.projects .owl-nav .owl-next {
    position: absolute;
    top: 40%;
    right: 29%!important;
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    background-color: #fff !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
}


.projects .owl-nav button.owl-prev {
  left: 8%;
}
.projects .owl-nav button.owl-next {
  right: 8%;
}

.projects .owl-nav button:hover {
  background: var(--default) !important;
}
.projects .owl-nav button:hover svg path {
  fill: #fff;
}
.projects .owl-nav svg path {
  fill: var(--default);
  transition: 0.3s;
}
@media (max-width: 1200px){
  .projects .owl-nav .owl-next{
    right: 10% !important;
  }
  .projects .owl-nav .owl-prev{
    left: 10% !important;
  }
}
@media (max-width:768px){
  .projects .owl-nav .owl-prev{
    left: 1% !important;
  }
  .projects .owl-nav .owl-next{
    right: 1% !important;
  }
}